package components

templ Home(title string) {
  @Layout(title) {
    <div class="card">
      // TODO:タイトルをマークダウンのフロントマターから取得する
      <a href="./post/index.html" class="card-heading">Goでブログを作ってみた</a>
      <p>Goのテンプレートエンジンを使って、ブログを作成してみました。</p>
    </div>
  }
}