package components

type BlogData struct {
	Title string
	Href  string
}

templ Home(title string, blogDataList []BlogData) {
  @Layout(title) {
    for _, b := range blogDataList {
      <div class="card">
        <a href={ b.Href }>{ b.Title }</a>
        <p>{b.Title}</p>
      </div>
      <span style="margin-bottom:1rem; display:block"></span>
    }
  }
}