package components

templ Post(content string, title string) {
  @Layout(title) {
    <div>
      <div style="display:flex; justify-content:end">
        <a href="/public/index.html">
          <button class="button">ホームに戻る</button>
        </a>
      </div>
      <span style="margin-bottom:2rem; display:block"></span>
      <article class="article md">
        @templ.Raw(content)
      </article>
    </div>
  }
}