package components

templ Post(content string) {
  @Layout("Goでブログを作ってみた") {
    <div>
      <button onclick="history.back()" class="button">前のページに戻る</button>
      <span style="margin-bottom:2rem; display:block"></span>
      <article class="article md">
        @templ.Raw(content)
      </article>
    </div>
  }
}