main {
  margin: 0 auto;
  max-width:680px;
  line-height: 1.25;
  padding:0 8px;
  color: #333;
}

.header {
  padding:16px 0;
  margin-bottom:32px;
  border-bottom:4px solid skyblue;
}

.logo {
  font-weight: bold;
  font-size: 1.75rem;
}

.card {
  border:1px solid skyblue;
  padding:8px;
  border-radius: 16px;
}

.card-heading{
  font-size:1.25rem;
  font-weight: bold;
  line-height: 1.25;
}

.footer {
  font-size: 1rem;;
  margin-top:32px;
  padding:16px 0;
  border-top:4px solid skyblue;
  text-align: center;
}